<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <p id="demo" class="demo"></p>
<body>
  <div class="container-reservation">
    <form action="/postForm" method="POST" id= "formLogin" >
      <!-- Reading -->
      <input type="hidden" id="name" name="name" value= <%= profile.name %> >
      <input type="hidden" id="lastname" name="lastname" value= <%= profile.lastname %> >
      <p>Section I: Reading
        In this section of the Placement Test, you will read some short passages and answer questions about them. Choose the word or words that best complete the sentence. For each item, choose your answer.
        You will have 20 minutes to complete this section.</p>
        <br>
        
        <% let passB = 0 %>
        <% for (let i = 0; i < preguntas.length;i++) { %>
          <% if (preguntas[i].reading == 1) { %>
            <% let pass = preguntas[i].passage %>
              <% for( let k = 1; k <= maxPassage.get().max_passage; k++ ) { %>
                <% if (k == pass && pass != passB) { %>
                  <% passB = pass %>
                  <img src="/images/images/passage<%=pass%>.png" alt="passage<%=pass%>"><br>
                  <% } %>
                  <% } %>             
                <label for="pregunta <%= preguntas[i].id %>" name="pregunta" > <%= preguntas[i].pregunta %></label>
                <br>
                <br>     
              <% for( let j = 0; j < respuestas.length; j++ ) { %>
                <% if (respuestas[j].idPregunta == preguntas[i].id ) { %>
                  <div >
                    <input type="radio" id="respuestas" name="pregunta<%= i+1 %>" value="<%=respuestas[j].respuesta%>">   
                    <label for="respuesta"><%= respuestas[j].respuesta %></label>
                  </div>
                <% } %>
              <% } %>
              <br>
          <% } %>
      <% } %>
      <!-- Language -->
      <p>Section II: Language Use
        In this section, you will answer questions about the use of English. Choose the word or words that best complete the sentence. 
        You will have 15 minutes to complete this section.</p>
        <br>
      <% for (let i = 0; i < preguntas.length;i++) { %>
        <% if (preguntas[i].language == 1) { %>
          <label for="pregunta <%= preguntas[i].id %>" name="pregunta"> <%= preguntas[i].pregunta %></label> 
          <br>
          <br>   
          <% for( let j = 0; j < respuestas.length; j++ ) { %>
            <% if (respuestas[j].idPregunta == preguntas[i].id ) { %>
              <div >
                <input type="radio" id="respuestas" name="pregunta<%= i+1 %>" value="<%=respuestas[j].respuesta%>">   
                <label for="respuesta"><%= respuestas[j].respuesta %></label>
              </div>
            <% } %>
          <% } %>
          <br> 
        <% } %>
        <% } %>

        <!-- Listening -->

      <p>In this section of the test, you will hear conversations and answer some questions about them. For each conversation, 
        ﬁrst read the situation and the question or questions. Then listen to the conversation. Answer the questions after you hear the conversation. 
        You can only listen to the conversation once, if you listen more than once you will not finish the exam on time and points will be deducted from your score. You will have 20 minutes to complete this section.</p>
        <br>

      <% let passBL = 0 %>
        <% for (let i = 0; i < preguntas.length;i++) { %>
          <% if (preguntas[i].listening == 1) { %>
            <% let pass = preguntas[i].situation %>
              <% for( let k = 1; k <= maxSituation.get().max_situation; k++ ) { %>
                <% if (k == pass && pass != passBL) { %>
                  <% passBL = pass %>
                  <img src="/images/images/Situation<%=pass%>.png" alt="Situation<%=pass%>"><br>
                  <iframe src="<%= preguntas[i].conversation %>"> ></iframe><br>
                  <% } %>
                  <% } %>                          
                <label for="pregunta <%= preguntas[i].id %>" name="pregunta"> <%= preguntas[i].pregunta %></label>
                <br>
                <br>     
              <% for( let j = 0; j < respuestas.length; j++ ) { %>
                <% if (respuestas[j].idPregunta == preguntas[i].id ) { %>
                  <div >
                    <input type="radio" id="respuestas" name="pregunta<%= i+1 %>" value="<%=respuestas[j].respuesta%>">   
                    <label for="respuesta"><%= respuestas[j].respuesta %></label>
                  </div>
                <% } %>
              <% } %>
              <br>
          <% } %>
      <% } %>

      <button type="submit" id="button" class="sendButton">Enviar></button>
      </form>
      <script src="/js/formVerify.js"></script>
      <script src="/js/counter.js"></script>
    </div>    
  </body>
  <script src="/js/sweetalert2.all.min.js"></script>
  </html>